$white: #fff;
$grey: #dcdde0;

$background: #f2f3f5;
$text: #666666;
$texthigh: #b3b9ff;
$title: #2e384d;

$red: #e9b6b6;
$green: #b6d0e9;

$primary: #54adff;
$secondary: #3780c3;
$tertiary: #b2b9ff;
