@import '../../../styles/colors.scss';
@import '../../../styles/breakpoints.scss';

.Profile {
    display: flex;
    align-items: center;

    height: 20vh;
    width: 100%;

    border-bottom: 0.1rem solid $grey;

    @media (max-width: $small) {
        padding: 0 1rem;
    }

    img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }

    div {
        margin-left: 1.5rem;
        width: 100%;

        span {
            color: $primary;
            margin-right: 0.5rem;
        }

        strong {
            font-size: 1.5rem;
            font-weight: 900;
            color: $title;
        }

        p {
            margin: 0;
            margin-top: 0.25rem;
            font-size: 0.75rem;
            font-weight: 600;

            span {
                margin-left: 0.5rem;
                color: $primary;
                font-size: 0.75rem;
                font-weight: 400;
            }
        }

        svg {
            margin-right: 0.25rem;
        }
    }
}
